@import '../../assets/color.scss';
#page-meeting {
  background: $dark-cyan;
  height: 100%;

  #addExtensionBtn {
    margin: 0 auto;
  }

  .ag {
    &-header {
      padding: 1.43rem 2.14rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-lead {
        font-size: 1.14rem;
        line-height: 2.5rem;
      }
      &-logo {
        width: 4.29rem;
        height: 2.5rem;
        margin-right: .86rem;
      }
    }
    &-footer {
      padding: 0 2.14rem;
      display: flex;
      align-items: center;
      :first-child {
        margin-right: 5.71rem;
      }
    }
    &-container {
      width: calc(100% - 4.29rem);
      height: 100%;
      margin: 0 auto;
      background: rgb(52, 72, 88);
      border-radius: 0.86rem;
      position: relative;
    }
    /* button group */
    &-btn-group {
      height: 5rem;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      background: transparent;
      z-index: 11111;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &:hover,
      &.active {
        background: rgba(18, 74, 99, .8);
        .ag-btn {
          opacity: 1;
        }
      }
    }
    &-btn {
      z-index: 12;
      opacity: 0;
      color: white;
      font-size: 35px;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      .ag-icon {
        line-height: 35px;
      }
      &:hover {
        color: #00B6ED;
      }
      &.disabled,
      &.disabled:hover {
        color: rgba(255, 255, 255, .56) !important;
        cursor: not-allowed;
      }
      &.off {
        .icon-camera-off,
        .icon-mic-off,
        .icon-recording-off,
        .icon-invisible {
          display: inline-block;
        }
        .icon-camera,
        .icon-mic,
        .icon-recording,
        .icon-visible {
          display: none;
        }
      }
      & {
        .icon-camera-off,
        .icon-mic-off,
        .icon-recording-off,
        .icon-invisible {
          display: none;
        }
        .icon-camera,
        .icon-mic,
        .icon-recording,
        .icon-visible {
          display: inline-block;
        }
      }
    }
  }
  .video-item {
    border-radius: .5rem;
    border: .14rem $light-blue solid;
    background: url('../../assets/images/avatar.png') center no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    div {
      border-radius: .5rem
    }
  }
  .downloadBtn {
    display: none;
  }
  .downloadBtn.is-shown {
    display: flex;
  }

  #ec-recording-indicator {
    display: none;
  }
  #ec-recording-indicator.is-shown {
    display: flex;
  }

  .recording-indicator {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.1em 0.3em 0.1em 0;
    font-size: 1.2rem;
    height: 28px;
    z-index: 2;
  }

  .recording-circle {
    height: 12px;
    width: 12px;
    background: red;
    border-radius: 100%;
    margin: 0 0.6em;
    animation: 1.25s pulsate ease-out infinite;
  }

  @keyframes pulsate {
    0% {
      background: #A90000
    }
    50% {
      background: #f00
    }
    100% {
      background: '#A90000'
    }
  }

  #notification {
    position: absolute;
    right: -500px;
    top: 0;
    background-color: white;
    color: black;
    padding: 16px 0px 16px 16px;
    width: 360px;
    z-index: 2;
    vertical-align: top;
    border-radius: 8px;
    box-shadow: 4px 4px 4px gray;
    transition: 0.5s;
  }
  #notification-message {
    word-wrap: break-word;
    width: 320px;
    display: inline-block;
  }
  #close-notification-button {
    all: unset;
    vertical-align: top;
    width: 20px;
    display: inline-block;
    height: 100%;
    color: black;
    text-shadow: 2px 2px 2px gray;
  }

  #notification.is-shown {
    transition: 0.5s;
    right: 0;
  }

}
